header {
    // background-image: linear-gradient(rgba(32, 32, 32, .8) 60%, rgba(32, 32, 32, 0) 95%);
    background: @background-color;
    padding: 15px @main-padding;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;

    nav {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                margin: 0 10px;
                font-size: large;
                font-weight: 500;
            }
        }
    }
}